body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#home-footer {
    padding: 0.5em 0;
}

#home-footer div {
    padding: 2px;
}

#home-footer a {
    color: gray;
    text-decoration: none;
    font-weight: 700;
    text-decoration: underline;
}

#home-footer a:hover {
    color: #0059b3;
    cursor: pointer;
}
div.bg-image {
    content:url(https://images.unsplash.com/photo-1501755792080-cd51e405462c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    width: 80%;
    margin: 0px auto;
}

h2 {
    margin: 0px;
    padding: 1em 0;
    font-weight: 400;
}

#game-options, #home-options {
    padding: 0.5em;
}

#home-options div div, form div, #game-options div {
    justify-content: space-between;
    width: 130px;
}

#home-options div, #game-options div {
    display: inline-block;
}

#game-options button:hover, #home-options button:hover {
    background: gray;
    color: white;
    cursor: pointer;
}
#home-options div button, form button, #game-options div button {
    background: white;
    padding: 1em;
    border: 1px solid;
    width: 120px;
    border-radius: 4px;
    border-color: gray;
    font-size: 0.9em;
}

#home-options form input, #game-options form input {
    margin: 1em auto;
    display: block;
    width: 220px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid gray;
    padding: 0 15px;
}

#home-options form input:focus {
    outline: none;
    border: 1px solid #0099cc;
}


#player-table {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 10em)) 1fr;
    padding: 0.5em 0;
}

#player-table button {
    border: none;
    background: inherit;
    outline: none;
    font-size: 1em;
    cursor: pointer;
}

#player-table button i {
    outline: none;
    pointer-events: none;
}

#player-table button:hover {
    color: #4286f4;
}
#player-table-ranked {
    display: grid;
    grid-template-columns: 1fr repeat(3, minmax(auto, 5em)) 1fr;
    padding: 2em 0;
}

#player-table .item, #player-table-ranked .item {
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 0.3em;
}

#player-table .content-wrap {
    grid-column: 2 / 4;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
#player-table-ranked .content-wrap {
    grid-column: 2 / 5;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
#player-table .nested-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#player-table-ranked .nested-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#player-table-ranked .nested-grid  .item:nth-child(-n+3) {
    font-weight: 600;
}

#player-table .nested-grid  .item:nth-child(-n+2) {
    font-weight: 600;
}

#player-table .item:nth-child(4n+1) {
    background: #f2f2f2;
}

#player-table .item:nth-child(4n+2) {
    background: #f2f2f2;
}

#player-table-ranked .item:nth-child(6n+1) {
    background: #f2f2f2;
}

#player-table-ranked .item:nth-child(6n+2) {
    background: #f2f2f2;
}

#player-table-ranked .item:nth-child(6n+3) {
    background: #f2f2f2;
}

#game-info {
    padding: 0.5em;
    font-size: 0.8em;
}

#game-info h3 {
    margin: 0;
    padding: 0.1em;
}

@media (min-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    .content-wrap {
        grid-column: 2 / 4;
    }
  }